{% extends 'base.html.twig' %}

{% block title %}New MakeItRent
{% endblock %}

{% block body %}
	<div class="example-wrapper">
		<h1>Rent this article</h1>
		<br>
		{{ include('make_it_rent/_form.html.twig') }}
		<br>
		<button class="btn btn-outline-info my-2 my-sm-0" type="submit">
			<a href="{{ path('make_it_rent_index') }}">back to list</a>
		</button>
	</div>
{% endblock %}
